*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn {
    border-radius:28px;
    display:inline-block;
    cursor:pointer;
    padding:10px 10px;
    text-decoration: none;
    transform: translate(20px, -15px);
   
}
/*Container*/
.parent{
    display: flex;
    justify-content: center;
    height: 50vh;
    width: 85%;
    border-radius: 25px;
}
.parent h1{
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
}
.parent p, .child a{
    font-family: 'Lexend Deca', sans-serif;
    color:hsla(0, 0%, 100%, 0.75);
}
.child{
    height: 80%;
    width: 100%;
}
.child .img,.child .type,.child .article, .child a{
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}
/*Container Ends*/
/*Column 1*/
.one{
    background-color:hsl(31, 77%, 52%);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.one .btn {
	background-color:hsl(0, 0%, 95%);
	border:1px solid hsl(0, 0%, 95%);
	display:inline-block;
    align-self:end;
	color:hsl(31, 77%, 52%);
	text-shadow:0px 1px 0px #2f6627;
}
.one .btn:hover {
	background-color:hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
}
.one .btn:active {
	position:relative;
	top:1px;
}
/*Column 1 Ends*/
/*Column 2*/
.two{
    background-color:hsl(184, 100%, 22%);
}
.two .btn {
	background-color:hsl(0, 0%, 95%);
	border:1px solid hsl(0, 0%, 95%);
    align-self:end;
    justify-self: inherit;
	color:hsl(184, 100%, 22%);
	text-shadow:0px 1px 0px #2f6627;
}
.two .btn:hover {
	background-color:hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
}
.two .btn:active {
	position:relative;
	top:1px;
    background-color:hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
}
/*Column 2 Ends*/
/*Column 3*/
.three{
    background-color:hsl(179, 100%, 13%);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.three .btn {
	background-color:hsl(0, 0%, 95%);
	border:1px solid hsl(0, 0%, 95%);
    align-self:end;
	color:hsl(179, 100%, 13%);
	text-shadow:0px 1px 0px #2f6627;
}    
.three .btn:hover {
	background-color:hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
}
.three .btn:active {
	position:relative;
	top:1px;
    background-color:hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
}
/*Column 3 Ends*/

/*Media Queries*/

    @media (max-width: 700px) {
        body{
            height: 100%;
            width: 100%;
        }
        .parent{
            font-size: 1.25em;
            line-height: 1.2em;
            background: none;
            display: flex;
            flex-direction: column;
            height:100%;
            width: 80%;
        }
        .child{
            height: 100%;
            border-radius: 25px;
            margin-bottom: 10px;
        }
        .child .btn{
            margin-left: 30%;
            margin-bottom: 10px;
            padding: 1.1em;
        }
          
    }
    @media (max-width: 450px){
        .child .btn{
            margin-left: 25%;
            padding: .5em;
        }
    }
    @media (max-width: 380px){
        .child .btn{
            margin-left: 20%;
        }
    }
    @media (orientation: landscape) and (max-height:775px){
        .parent{
            font-size: .81em;
        }
        .one, .two, .three{
            height: 100%;
        }
    }
    @media (orientation: landscape) and (max-height: 675px){
        .child{
            margin-bottom: .5em;
        }
    }
/*Media Queries Ends*/
